Package: [[artifactId]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: 
Maintainer: Shaw Terwilliger <sterwill@tinfig.com>
Description: [[name]]
Distribution: precise